<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.levchukapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LevchukApplication">
        <activity
            android:name=".views.BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.LevchukApplication.NoActionBar"/>

        <receiver
            android:name=".services.MessageBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".views.LocalBroadcastActivity"
            android:exported="false"
            android:label="@string/title_activity_loca_broadcast"
            android:theme="@style/Theme.LevchukApplication.NoActionBar"/>
        <activity
            android:name=".views.BackgroundTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_background_task"
            android:theme="@style/Theme.LevchukApplication.NoActionBar"/>
        <activity
            android:name=".views.HelpActivity"
            android:exported="false"
            android:label="@string/title_activity_help"
            android:theme="@style/Theme.LevchukApplication.NoActionBar"/>
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LevchukApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/Theme.LevchukApplication.NoActionBar" />
    </application>

</manifest>